.parent .single_box {
    position: relative;
    width: auto;
    margin-top: 30px ;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    box-sizing: border-box;
    border:black 10px;
    cursor: pointer;
    text-align: center;
}
.parent  .card_text{
    color:#f2a900;
}
.single_box:hover{
    background-color: rgb(255, 255, 255,0.5);
    transition-duration: 0.35s;
    transition-delay: 0.08s;
    transform: scale(1.03);
}
