.navbar_color{
    background: rgba(93, 63, 211, 1);
    /*height: 60px;*/
    /*width: 1920px;*/
    left: 0;
    top: 0;
    border-radius: 0;
    display: flex;

}


.tags_styles{
    /* Defi */
    /*position: absolute;*/
    /*top: 11px;*/

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    text-align: left;

    color: #FFFFFF;

}

