.parent .dapp_category_card{
    min-width: 200px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}
.parent .active_category{
    background: rgba(242, 169, 0, 0.5);
}
.dapp_category_card_logo{
}
.parent .dapp_category_card .dapp_category_card_label{
    color: #FFFFFF;
    margin: auto;
    height: 40px;
    padding: 5px 0 5px 0 ;
}

.dapp_category_card:hover{
    transform: scale(1.05);
    transition-duration: 0.35s;
    transition-delay: 0.1s;
    background: rgba(242, 169, 0, 0.3);

}