.parent .horizontal_Scroll_bar_wrapper{
    display:grid;
    grid-auto-flow: column;
    overflow-x: auto;
    position: relative;
    overscroll-behavior-x: contain;
    width: 80%;
    margin: 70px auto 40px ;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px 20px 0 0;
    padding : 15px 15px 15px 15px;

}
.parent .horizontal_Scroll_bar_wrapper::-webkit-scrollbar{
    /*width: 0;*/
    display: none;
}


.parent .horizontal_Scroll_bar_wrapper .horizontal_Scroll_bar_item{
    min-width: 110px;
    height: 50px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
    color: #000000;
}

@media screen and (max-width: 500px){
    .parent .horizontal_Scroll_bar_wrapper{
        width: 100%;
        border-radius: 0;
    }
}