.parent{
    background-color: #000000;

}
.main_heading_section {
    position: relative;
    padding-top: 95px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}
.main_heading_section h1 {
    font-size: 60px;
}
.card_grid_section {
    padding-top: 20px;
    position: relative;
}


